<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope='col'>Picture</th>
    <th scope="col">Item name</th>
    <th scope="col">Description</th>
    <th scope="col">Cost</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>1.</th>
    <th><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Microsoft_Word_logo.png" width="100"></th>
    <th>Microsoft Word</th>
    <th>Popular and powerful text processor from Bill Gates' company</th>
    <th>99 $ per year</th>
  </tr>
  </tbody>
</table>