<!--    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Register</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">-->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <div *ngIf="authService.user && authService.user.role.id == '1'" class="btn-group mb-1">
    <div ngbDropdown>
      <button type="button" class="btn btn-outline-primary p-2" aria-controls="dropdown-tables" id="dropdown-basic"
              ngbDropdownToggle>User type
      </button>
      <div id="dropdown-tables" ngbDropdownMenu aria-labelledby="button-basic">
        <button (click)="isCompany = true" ngbDropdownItem>Company</button>
        <button (click)="isCompany = false" ngbDropdownItem>Customer</button>
      </div>
    </div>
  </div>

  <div class="form-group row mb-4" *ngIf="authService.user == null">
    <div class="col-lg-2 ml-auto">
      <!-- First name -->
      <input type="text" class="form-control" name="firstName" [(ngModel)]="editableUserProfile.firstName"
             placeholder="First name" #firstName="ngModel" required>
      <div [hidden]="firstName?.valid || firstName?.untouched" class="alert alert-danger">
        Please name yourself.
      </div>
    </div>
    <div class="col-lg-2 mr-auto">
      <!-- Last name -->
      <input type="text" class="form-control" name="lastName" [(ngModel)]="editableUserProfile.lastName"
             placeholder="Last name" #lastName="ngModel" required>
      <div [hidden]="lastName?.valid || lastName?.untouched" class="alert alert-danger">
        Please name yourself.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mx-auto mb-4" *ngIf="isCompany && authService.user && authService.user.role.id == '1'">
      <input type="text" class="form-control" name="firstName" [(ngModel)]="editableUserProfile.firstName"
             placeholder="Company name" #firstName="ngModel" required>
      <div [hidden]="firstName?.valid || firstName?.untouched" class="alert alert-danger">
        Please name the company.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 mx-auto mb-4" *ngIf="!isCompany && authService.user && authService.user.role.id == '1'">
      <input type="text" class="form-control" name="firstName" [(ngModel)]="editableUserProfile.firstName"
             placeholder="User name" #firstName="ngModel" required>
      <div [hidden]="firstName?.valid || firstName?.untouched" class="alert alert-danger">
        Please name the user.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 mx-auto">
      <!-- E-mail -->
      <input type="email" class="form-control mb-4" name="email" [(ngModel)]="editableUserProfile.email"
             (focusout)="isExists(email.value)" (change)="existingEmail = false" placeholder="E-mail" #email="ngModel">
      <div [hidden]="!existingEmail" class="alert alert-danger">Email already exists</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mx-auto">
      <!-- Password -->
      <input type="password" class="form-control" placeholder="Password" name="password"
             [(ngModel)]="editableUserProfile.password" #password="ngModel"
             aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <small class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
      </small>
    </div>
  </div>

  <button type="button" class="btn btn-outline-primary" (click)="_registerUser()"
          [disabled]="firstName?.invalid || lastName?.invalid || password?.invalid || existingEmail">Create
  </button>
</form>
<!--       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Sign Up</button>
       </div>
     </ng-template>

     <button class="btn btn-outline-primary" (click)="open(content)">Sign Up</button>-->
