<div class="container mt-lg-5">
    <div class="row" *ngIf="authService.user && authService.user.role.id == '3'">
      <div class="col m-1">
        <button type="button" class="btn btn-dark" (click)="_updateContent()">Update</button>
      </div>
      <div class="col text-md-right m-1">
      <app-add-product></app-add-product>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Picture</th>
          <th scope="col">Item name</th>
          <th scope="col">Description</th>
          <th scope="col">Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let content of contents">
          <td scope="row">{{content.id}}.</td>
          <td><img alt="{{content.itemName}}'s logo" [src]="content.pictureUrl" width="100"></td>
          <td>{{content.itemName}}</td>
          <td>{{content.description}}</td>
          <td>{{content.cost}} $ per year</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
