<div class="container mt-lg-5">
  <div class="row" *ngIf="authService.user && authService.user.role.id == '2'">
    <div class="col m-1">
      <button type="button" class="btn btn-dark" (click)="_updateWallet()">Update</button>
    </div>
    <div class="col text-md-right m-1">
      <app-add-wallet></app-add-wallet>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">No.</th>
          <th></th>
          <th scope="col">Funds</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let wallet of wallets">
            <td>
              Wallet ID: {{wallet.walletId}}
            </td>
            <td>
              {{wallet.funds}} $
            </td>
            <td>
              <ng-template #popContent><input class="form-control" type="text" placeholder="amount in $" required
                                              pattern="^\d+$"
                                              #funds>
                <button type="button" class="btn btn-default" (click)="addFunds(funds.value) && p.close()">Submit
                </button>
              </ng-template>
              <ng-template #popTitle>Adding funds</ng-template>
              <button type="button" class="btn btn-outline-secondary" [autoClose]="false" triggers="manual"
                      #p="ngbPopover" (click)="p.open()" [ngbPopover]="popContent" [popoverTitle]="popTitle">
                Add funds
              </button>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

