<!--<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">-->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign in</p>

  <div class="row">
    <div class="col-lg-4 mx-auto">
      <div class="input-group-lg">
        <!-- Email -->
        <input type="email" class="form-control mb-md-5" name="email" [(ngModel)]="loginUser.email"
               placeholder="E-mail" #email="ngModel">

        <!-- Password -->
        <input type="password" class="form-control mb-md-5" name="password"
               [(ngModel)]="loginUser.password" placeholder="Password" #password="ngModel">
      </div>
      <div *ngIf="authService.incorrect">
        <div class="alert alert-danger">
          Incorrect username or password
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Sign In</button>
  <!-- Register -->
  <p>Not a member?
    <a routerLink="/sign-up">Register</a>
  </p>
</form>
<!-- </div>
 <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Sign In</button>
 </div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">Sign In</button>-->
