
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
          (click)="_openModal(template)">Create new product</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}}  New Product</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Item Name</label>
      <input class="form-control" name="itemName" [(ngModel)]="editableContent.itemName" #itemName="ngModel" required/>
      <div [hidden]="itemName.valid || itemName.untouched" class="alert alert-danger">
        Please provide product name.
      </div>
    </div>
    <div class="form-group">
      <label>picture URL</label>
      <input class="form-control" name="pictureUrl" [(ngModel)]="editableContent.pictureUrl" #pictureUrl="ngModel"
             required pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png|svg)"/>
      <div [hidden]="pictureUrl.valid || pictureUrl.untouched" class="alert alert-danger">
        Picture URL is incorrect. Try again.
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" name="description" [(ngModel)]="editableContent.description" #description="ngModel" required/>
      <div [hidden]="description.valid || description.untouched" class="alert alert-danger">
        Please set item's description.
      </div>
    </div>
    <div class="form-group">
      <label>Cost</label>
      <input class="form-control" name="cost" [(ngModel)]="editableContent.cost" #cost="ngModel" required/>
      <div [hidden]="cost.valid || cost.untouched" class="alert alert-danger">
        Please set price
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addContent()"
            [disabled]="itemName.invalid || pictureUrl.invalid || description.invalid || cost.invalid">{{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

