<div class="tab-content no-border padding-24">
  <div id="home" class="tab-pane in active">
    <div class="row">
      <div class="col-md offset-md-2">
        <h4 class="blue">
          <span class="middle">{{authService.user.firstName}}</span>
        </h4>
        <span class="d-inline-flex font-italic">{{authService.user.role.name}}</span>
        <div *ngIf="authService.user.role.id == '3' && wallets">
          <div class="profile-info-row">
            <div class="profile-info-name"> Wallet ID:</div>
            <div class="profile-info-value"><span>{{wallets[0].walletId}}</span></div>
          </div>
          <div class="profile-info-row">
            <div class="profile-info-name"> Available funds:</div>
            <div class="profile-info-value"><span>{{wallets[0].funds}}</span></div>
          </div>
        </div>
        <div class="profile-info-row">
          <div class="profile-info-name"> E-mail</div>
          <div class="profile-info-value"><span>{{authService.user.email}}</span></div>
        </div>
        <div class="content-justify-start" *ngIf="authService.user && authService.user.role.id == '1'">
          <app-sign-up-btn></app-sign-up-btn>
        </div>
        <div class="content-justify-start"
             *ngIf="authService.user && ( (authService.user.role.id == '3' && !hasAnyWallets) || (authService.user.role.id == '2'))">
          <app-add-wallet></app-add-wallet>
        </div>
        <div class="offset-md-1 col-md-8" *ngIf="authService.user && authService.user.role.id == '1'">
          <app-user-table></app-user-table>
        </div>
        <!--<div *ngIf=" authService.user && authService.user.role.id == '2'"-->
        <!--class="btn-group mb-1">-->
        <!--<div ngbDropdown>-->
        <!--<button type="button" class="btn btn-outline-primary p-2" aria-controls="dropdown-tables"-->
        <!--id="dropdown-basic3"-->
        <!--ngbDropdownToggle>Show-->
        <!--</button>-->
        <!--<div id="dropdown-tables" ngbDropdownMenu aria-labelledby="button-basic3">-->
        <!--<button (click)="isWallet = true" ngbDropdownItem>Wallet</button>-->
        <!--<button (click)="isWallet = false" ngbDropdownItem>Subscriptions</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="row" *ngIf="authService.user && (authService.user.role.id == '2' || authService.user.role.id == '3')">
      <!--<h4 class="col-xs mr-2" (click)="(isWallet = true)" [ngClass]="isWallet ? 'blue' : 'black'">Your wallets</h4>-->
      <h4 class="ml-5" (click)="(isWallet = false)"
          [ngClass]="isWallet ? 'black' : 'blue'"> {{authService.user.role.id == '2' ? 'Your subscriptions' : 'Your products '}}</h4>
    </div>
    <!--<div *ngIf="isWallet">-->
    <!--<app-wallet-table></app-wallet-table>-->
    <!--</div>-->
    <div *ngIf="!isWallet && authService.user.role.id == '2'">
      <app-user-subscriptions-table></app-user-subscriptions-table>
    </div>
    <div *ngIf="!isWallet && authService.user.role.id == '3'">
      <app-company-contents-page></app-company-contents-page>
    </div>
  </div>
</div>
